body {
    padding-top: 50px;
    padding-bottom: 20px;
   background: #ffffff; /* Old Browsers */
background: -webkit-linear-gradient(right,#ffffff,#96d2b3); /*Safari 5.1-6*/
background: -o-linear-gradient(right,#ffffff,#96d2b3); /*Opera 11.1-12*/
background: -moz-linear-gradient(right,#ffffff,#96d2b3); /*Fx 3.6-15*/
background: linear-gradient(to left, #ffffff, #96d2b3); /*Standard*/

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.jumbotron {
     /*background-color: #ff6a00;*/
    background: #38b699; /* Old Browsers */
    background: -webkit-linear-gradient(top,#38b699,#2c7326); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#38b699,#2c7326); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#38b699,#2c7326); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #38b699, #2c7326); /*Standard*/
}