@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>YSchool</h1>
    <p class="lead">Welcome to YSchool.</p>
    <p><a href="./Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register yourself
        </p>
        <p><a class="btn btn-default" href="./Home/About">Learn more &raquo;</a></p>
    </div>

</div>